/* Banner */
#banner {
  background-image: url("../../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -ms-behavior: url("css/ie/backgroundsize.min.htc"); }
  #banner .inner {
    background: #004855; }

/* CTA  */
#cta {
  background-image: url("../../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -ms-behavior: url("css/ie/backgroundsize.min.htc"); }
